body {
  color: #E1DFDD;
  font-family: sans-serif;
  font-size: 8px;
}

path.line {
    fill: none;
    stroke: #000;
    stroke-width: 2px;
}
h1 {
	width: 100%;
    text-align: center;
}

h4 {
	width: 100%;
    text-align: center;
}

#intro-post{
	height: 100%; 
}

.ct-btn-scroll {
  left: 0;
  right: 0;
  margin: auto;
  z-index: 9;
  border-radius: 50%;
  -webkit-transition: background-color 0.25s ease-in-out;
  transition: background-color 0.25s ease-in-out;
  margin-bottom: 11%;
}

#arrow {
	height: 50px;
}

.step {
	height: 100px;
	padding-right: 60px;
	padding-top: 30px;
	text-align: justify;
}

.d3-tip
{
  line-height: 1;
  font-size: 12px; 
  padding: 12px;
	background: rgba(0, 0, 0, 0.5);
  color: white;
	border-radius: 2px;
  text-align: center;
}

.d3-tip:before
{
	box-sizing: border-box;
	display: inline;
	font-size: 10px;
	width: 100%;
	line-height: 1;
	color: rgba(0, 0, 0, 0.5);
	content: "\2BC7";
	position: absolute;
	text-align: center;
}

.d3-tip.n:before
{
	margin: 0 -1px 0 0;
	bottom: 43%;
	left: -8px;
  width: 0px;
}

.axisLine text {
  font-size: 25px;
  margin-right: 2px;
}

#intro-post {
	margin: 20px;
	text-align: center;
}

#tweetdiv {
  position: fixed;
  width: 400px;
  height: 300px;
  left: 35%;
  top: 15%;
}