body, html {
    height: 100%;
    margin: 0;
}

.bg {
    /* The image used */
    background-image: url("https://cdn.rawgit.com/robin-ramos/cats-of-bgc/a3441d60/cats1.jpg");

    /* Full height */
    height: 100%; 

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.step {
  height: 25px;
  width: 25px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  text-align: center;
  border: 0;
}

.stepactive {
  color:white;
}

.line {
  fill: none;
  stroke: #212F3D;
  stroke-width: 2px;
}

.iframe-container {
	height: 400px;
	width: 375px;
	overflow-y: auto;
	margin: auto;
}

.milestone-circle {
  fill: white;
  stroke: #212F3D;
}

.d3-tip
{
	line-height: 1;
	font-weight: bold;
	padding: 12px;
	background: rgba(255, 255, 255, 0.8);
  	color: black;
	border-radius: 2px;
}

.d3-tip:after
{
	box-sizing: border-box;
	display: inline;
	font-size: 10px;
	width: 100%;
	line-height: 1;
	color: rgba(255, 255, 255, 0.8);
	content: "\25BC";
	position: absolute;
	text-align: center;
}

.d3-tip.n:after
{
	margin: -1px 0 0 0;
	top: 100%;
	left: 0;
}

.ct-btn-scroll {
  width: 49px;
  height: 49px;
  position: absolute;
  bottom: 30px;
  left: 0;
  right: 0;
  margin: auto;
  z-index: 9;
  border-radius: 50%;
  -webkit-transition: background-color 0.25s ease-in-out;
  transition: background-color 0.25s ease-in-out;
}

#chart1 {
	text-align: center;
}

#chart2 {
	text-align: center;
}

#chart3 {
	text-align: center;
}

#newdiv {
	text-align: center;
}

#intro-text {
	text-align: center;
}

#sentiment-line {
	stroke:none;
}

#smpost {
	text-align: center;
	margin-left: 10px;
}

.mbtn {
    color: #fff;
    background-color: #ABB9AB;
    height: 25px;
    border-radius: 4px;
    cursor: pointer;
    width: 70px;
    border: 0;
    font-size: 15px;
    margin: 5px;
}
button:disabled {
    color: #fff;
    background-color: black;
    cursor: default;
}

