body, html {
    height: 100%;
    margin: 0;
    background-color: #253634;
}

path.line
{
    fill: none;
    stroke: #000;
}

body {
  color: #E1DFDD;
}

.overlay {
  fill: none;
  pointer-events: all;
}

.focus circle {
  fill: #F1F3F3;
}
  
.hover-line {
  stroke: #A2C2B9;
  stroke-width: 2px;
  stroke-dasharray: 3,3;
}

.axisLine line {
  stroke: #A2C2B9;
}

.axisLine path {
  stroke: #A2C2B9;
}

.axisLine text {
  fill: #A2C2B9;
}

.bg {
    /* The image used */
    background-image: url("https://cdn.rawgit.com/robin-ramos/cats-of-bgc/583f71a9/cats1.jpg");

    /* Full height */
    height: 100%; 

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.step {
  height: 25px;
  width: 25px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  text-align: center;
  border: 0;
}

.stepactive {
  color:white;
  background-color: #FDAACB;
}

.line {
  fill: none;
  stroke: #FEFEFE;
  stroke-width: 2px;
}

.iframe-container {
	height: 400px;
	width: 375px;
	overflow-y: auto;
	margin: auto;
  background-color: white;
}

.milestone-circle {
  fill: white;
  stroke: #212F3D;
}

.d3-tip
{
	line-height: 1;
  font-size: 12px; 
	padding: 12px;
	background: rgba(255, 255, 255, 0.8);
  color: black;
	border-radius: 2px;
  text-align: center;
}

.d3-tip:before
{
	box-sizing: border-box;
	display: inline;
	font-size: 10px;
	width: 100%;
	line-height: 1;
	color: rgba(255, 255, 255, 0.8);
	content: "\2BC7";
	position: absolute;
	text-align: center;
}

.d3-tip.n:before
{
	margin: 0 -1px 0 0;
	bottom: 43%;
	left: -8px;
  width: 0px;
}

.ct-btn-scroll {
  width: 49px;
  height: 49px;
  position: absolute;
  bottom: 30px;
  left: 0;
  right: 0;
  margin: auto;
  z-index: 9;
  border-radius: 50%;
  -webkit-transition: background-color 0.25s ease-in-out;
  transition: background-color 0.25s ease-in-out;
}

#chart1 {
	text-align: center;
}

#chart2 {
	text-align: center;
}

#chart3 {
	text-align: center;
}

#newdiv {
	text-align: center;
}

#intro-text {
	text-align: center;
  color: #E1DFDD;
}

#sentiment-line {
	stroke:none;
}

#smpost {
	text-align: center;
	margin-left: 10px;
}

.mbtn {
    color: #fff;
    background-color: #FC5596;
    height: 25px;
    border-radius: 4px;
    cursor: pointer;
    width: 70px;
    border: 0;
    font-size: 15px;
    margin: 5px;
}
button:disabled {
    color: #fff;
    background-color: #bbb;
    cursor: default;
}

